* {
    box-sizing: border-box;
}


body{
    padding-top: 4rem;
    margin: 0px;
    color: black;
    --type-first: Helvetica, Arial, sans-serif;
    --type-second: 'Spectral', Georgia;
    font-family: var(--type-first);
}

h1, h2, h3, p {
    margin: 0PX;
}
    
ul,li{
    list-style: 0px;
    padding: 0px;
    margin: 0px;
}

img{
    display: block;
    max-width: 100%;
}

button,input{
    display: 1rem;
    font-family: var(--type-first);
    font-size: 1rem;
    color: #333;
}

.container{
    max-width: 50rem;
    padding: 0 1rem;
    margin: 0 auto;
}